{% extends "base.html" %}
{% block content %}
<script> var formatType = "mla";</script>
<div class="container"> 
    <div>
    <p> Please enter the relevant info for each source </p>
    </div>

    <div>
    <p>Adding as much info as possible makes your citation more accurate and easier to reference.</p>
    </div>

    <div>
    <label for="authorFirstName">Author's First Name</label>
</div>

<div>
    <input type="text" id="authorFirstName" style="height: 20px; width: 300px;">
</div>

<div>
    <label for= "authorLastName">Author's Last Name</label>
</div>

<div>
    <input type="text" id="authorLastName" style="height: 20px; width: 300px;">
</div>

<div>
    <label for= "articleTitle">Title Of Article</label>
</div>
    
<div>
    <input type="text" id="articleTitle" style="height: 50; width: 300px;">
</div>
  
<div>
    <label for= "publisherName">Name of Publisher</label>
</div>

<div>
    <input type="text" id="publisherName" style="height: 20px; width: 300px;">
</div>

<div>
    <label for= "dayPublished"> Day the Website was Published</label>
</div>

<div>
    <input type="text" id="dayPublished" style="height: 20px; width: 300px;">
</div>

<div>
    <label for= "monthPublished"> Month the Website was Published</label>
</div>

<div>
    <input type="text" id="monthPublished" style="height: 20px; width: 300px;">
</div>
    
    <div>
    <label for= "yearPublished">Year the Website was Published</label>
    </div>

    <div>
    <input type="text" id="yearPublished" style="height: 20px; width: 300px;">
    </div>
    
    <div>
    <label for= "URL"> URL of the Website</label> 
    </div>

    <div>
    <input type="text" id="urlOfSource" style="height: 20px; width: 300px;">
    </div>
    
    <div>
    <label for= "dateOfAccess">Date Accessed</label>  
    </div>

    <div>
    <input type="text" id="dateOfAccess" style="height: 20px; width: 300px;">
    </div>
<div>
   <button id="submit-button">Submit</button> 
</div>
    </div>
<p id="result-entry"></p>
{% endblock %}